<!DOCTYPE html>
<html>

<head>
    <title>WIP Blog</title>
</head>

<body>
    <a href='<%=POSTS_ROUTE%>'>See all available posts</a><br>
    <a href='<%=UPLOAD_ROUTE%>'>Add a new file</a>
</body>

</html>