<!DOCTYPE html>
<html>

<head>
    <title>All Posts</title>
</head>

<body>
    <% Object.keys(posts).forEach(post => { 
        const title = posts[post];%>
    <li><a href="blog/<%=post%>"><%=title%></a></li>
    <%}) %>
</body>

</html>